.buyticket {
  // grid-column: span 2 / span 2;
  // grid-column-start: 1;
  // grid-column-end: 3;
  display: grid !important;
  margin-top: 100px;
  // margin: 100px auto;
  // margin-top: 100px;
  // max-width: 700px;
  // max-height: 600px;
  grid-template-columns: 2fr 2fr 4fr;
  gap: 4rem;
  //new
  display: grid;
  // grid-template-columns: repeat(12, minmax(0, 1fr));
  justify-content: center;
  // width: 66%;
  padding: 6rem;
  .col-1 {
    // grid-column: 2 / span 2;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 10px 10px 0 rgba(96, 92, 94, 0.48),
      0 8px 30px 0 rgba(96, 92, 94, 0.48);
    opacity: 0.9;
    .list-group {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-bottom: 0;
      background-color: white;
      color: #0e1d2f;
      background-clip: border-box; // khu vực sơn nền
      width: 100%;
      .list-group-item {
        border: 0.5px solid #edf2f9;
        &.list-group-region {
          background-color: #f9f6ec;
          // opacity: 0.8;
          padding: 0.8rem;
        }
        &.list-cinema-item {
          display: flex;
          align-items: center;
        }
        .item {
          width: 100%;
          height: 100%;
          display: block;
          padding: 0.8rem;
          &:focus {
            background-color: #ff5400;
            color: #0e1d2f;
          }
        }
      }
    }
  }
  .col-2 {
    // grid-column: 4 / span 4;
    box-shadow: 0 10px 10px 0 rgba(96, 92, 94, 0.48),
      0 8px 30px 0 rgba(96, 92, 94, 0.48);
    opacity: 0.9;
    .showtimes {
      display: inline-flex;
      vertical-align: middle;
      background-color: #f9f6ec;
      border-radius: 0.2rem;
      margin-bottom: 1rem;
      color: #283e59;
      width: 100%;
      justify-content: space-between;
      .showtimes_date {
        padding: 1.12rem;

        &:hover,
        &:focus {
          background-color: #f3dd96;
          color: #0e1d2f;
        }
      }
    }
    .alert {
      color: #283e59;
      background-color: #f6c343;
      border-color: #f6c343;
      padding: 0.6rem;
      border-radius: 0.2rem;
      margin-bottom: 1rem;
      display: flex;
      // justify-content: space-evenly;
      align-items: center;
      padding-left: 1rem;
      .alert_icon {
        font-size: 1rem;
        padding: 0.8rem;
      }
    }
    .cinema_inf {
      background-color: #f9f6ec;
      border-color: #f6c343;
      color: #0e1d2f;
      border-radius: 0.2rem;
      padding: 0.6rem;
      .cinema_content {
        opacity: 0.8;
        .cinema_content_direction {
          color: #2c7be5;
        }
      }
    }

    .card-body {
      display: grid;
      grid-template-columns: 1fr 2fr;
      background-color: white;
      color: #0e1d2f;
      margin-top: 1rem;
      .card_image {
        font-size: 30px;
      }
      .card_buyTicket,
      .card_image {
        padding: 1.25rem;
      }
      .card_buyTicket {
        .card_price {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
  .non-showtimes {
    background-color: #f9f6ec;
    color: #283e59;
    height: 60px;
    line-height: 60px;
    padding-left: 2rem;
    font-weight: 500;
    box-shadow: unset;
    border-radius: 0.2rem;
  }
}

.text-dark {
  font-weight: 600;
}

.card_content {
  opacity: 0.8;
  .trailer {
    color: #2c7be5;
  }
}
