.Login {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);

  .Login-title {
    color: white;
  }

  .auth-form-container,
  .login-form,
  .register-form {
    display: flex;
    flex-direction: column;

    label {
      text-align: left;
      padding: 0.25rem 0;
    }

    input {
      margin: 0.5rem 0;
      padding: 1rem;
      border: none;
      border-radius: 10px;
    }

    .btn-login {
      margin: 1rem 0;
      border: none;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;
    }
    .btn-register {
      background: none;
      color: white;
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}
