.login {
  margin-top: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  .login_container {
    padding-top: 50px;
    padding-bottom: 50px;
    .nav_container {
      .nav_login {
        background-color: #ff5400;
        margin-right: 2px;
        .a_login {
          &:hover {
            color: white;
            opacity: 0.8;
          }
        }
      }
      .nav_register {
        background-color: #7e8eaa;
        .a_register {
          &:hover {
            color: white;
            opacity: 0.8;
          }
        }
      }
      .nav_login,
      .nav_register {
        display: inline-block;
        width: 120px;
        padding: 5px;
        list-style-type: none;
        border-radius: 4px;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid transparent;
      }
    }
    .form_container {
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      padding: 20px;
      width: 720px;

      .form_information {
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;

        .form_input {
          padding: 0 15px;
          .input_form {
            width: 100%;
            border-radius: 2px;
            padding: 8px;
            outline: 2px solid transparent;
            outline-offset: 2px;
            border: 1px solid #ccc;
            margin: 5px 0 0;
          }
          .errorMessage {
            margin-top: 5px;
            min-height: 10px;
            font-size: 14px;
            line-height: 10px;
            color: red;
          }
        }
      }
      .button_form {
        margin-top: 10px;
        padding-left: 15px;
        .btn_form {
          background-color: #7e8eaa;
          border-radius: 4px;
          text-align: center;
          text-transform: uppercase;
          padding: 5px;
          display: inline-block;
          border: 1px solid transparent;
          color: #fff;
          font-weight: 600;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .forgotPassword_form {
        padding: 15px 0 0 15px;
        color: #004bff;
      }
    }
  }
}

label,
i {
  font-size: 15px;
  display: block;
  color: #000;
}
